.row
  %h1 Site#index
  %p Find me in app/views/site/index.html.haml

  %ul.accordion{ "data-accordion" => true }
    - @stations.each.with_index do |station, index|
      %li.accordion-navigation
        = link_to "#{station.description} (#{station.code})", "#panel#{index + 1}a"
        - station.buses.each do |bus|
          %div{ class: "content", id: "panel#{index + 1}a" }
            = link_to bus.number, bus_path(bus.number, station_code: station.code), class: "round success button"

  = paginate @stations
