.container
  %h1 Site#index
  %p Find me in app/views/site/index.html.haml

  - @stations.each do |station|
    %h1= "#{station.description} (#{station.code})"
    %ul
    - station.buses.each do |bus|
      %li
        = link_to bus.number, bus_path(bus.number, station_code: station.code)

  = paginate @stations
