#template
  .row
    %ul.accordion{ "data-accordion" => true }
      - @stations.each.with_index do |station, index|
        - station = StationDecorator.new(station)
        %li.accordion-navigation
          = link_to "#{station.description} (#{station.code})", "#panel#{station.code}", class: "text-center station", "data-panel" => "#{station.code}"
          .panel-container{ id: "#{station.code}", hidden: true}
            .row
              .small-4.columns
                %p.bold Bus Number
              .small-4.columns
                %p.bold.text-center Arrival Time
              .small-4.columns
                %p.bold.text-center Next Bus Arrival Time
            - station.all_buses.each do |bus|
              %div{ class: "content", id: "panel#{station.code}" }
                .row
                  .small-4.columns
                    = link_to bus["code"], bus_path(bus["code"], station_code: station.code), class: "round #{color_code(bus["arrival_time"])} button"
                  .small-4.columns
                    %p.text-center= display_arrival_time(bus["arrival_time"])
                  .small-4.columns
                    %p.text-center= display_arrival_time(bus["next_bus_arrival_time"])

    = paginate @stations
